
#environments {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#environments td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#environments tr:hover {background-color: #ddd;}

#environments th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}